.redirect {
    display: flex;
    justify-content: center;
    font-size: 11px;
    margin-top: 5px;

    &__description {
        color: $text-description;
    }

    &__link {
        color: $text-alternate;
        width: fit-content;
    }
}
