.button {
    @include form-UI;
    cursor: pointer;

    &__primary {
        color: $text-secondary;
        background-color: $button-primary-bg;
    }

    &__disabled {
        color: $text-primary;
        background-color: $button-disabled-bg;
    }
}
