@import "./colors.scss";

// reset default styles

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button, input {
    outline: none;
}

// set base font

html {
    font-family: "Poppins";
}
