.form {
    display: flex;
    flex-direction: column;
    width: 350px;
    min-height: 300px;

    &__field-wrapper {
        min-height: 100px;
    }

    &__button {
        margin-top: auto;
    }
}
